
  body {
    font-family: Arial;
    margin: 0;
    background-color: #eaecee;
  }
  
  * {
    box-sizing: border-box;
  }

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    margin: 10px;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin: 20px 25px;
  }
  
  .btn:hover {
    background-color: RoyalBlue;
  }

    /* Add a transparency effect for thumnbail images */
    .demo {
        opacity: 0.6;
      }
      
      .active,
      .demo:hover {
        opacity: 1;
      }

        /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      
        /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /*
  img {
    vertical-align: middle;
  }
  */

  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }

  .toprightcorner{
    color: black;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 2em; 
    padding-top: 20px;
    padding-right: 25px;
  }